@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@* Routing is done based on the page staructure under the page folder just like NextJs and index.cshtml is the default page and the page folder contain two files cshtml file and cshtml.cs files where cshtml file contain the UI part and cshtml.cs file contain the logic part. So in this way they seperate logic and presentation part *@
